{% extends 'mainPage/mainTemple.html' %}
{% block content %}
<div class="out">
    <div class="in">
        <div style="margin:auto;width: 300px;">
            <h1 style="display:flex; padding-bottom:40px;"><span style="margin:auto">Сброс пароля</span></h1>
            <form method="post" action="{% url 'forgot_password' %}">
            {% csrf_token %}
                <p>Email:<br> {{form.email}}</p>
                {% if messages %}
                    {% for message in messages %}
                        <p style="color:red;">{{ message }}</p>
                    {% endfor %}
                {% endif %}
                
                {% if form.errors %}
                    <span style="color:red;">Ошибка формы!</span>
                {% endif %}
                
                <div style="display:flex;"><button type="submit">Сбросить пароль</button></div>
        
                <br><hr color='#EBEEF2'><br>
                <div style="display:flex;"><a style="margin:auto;" href='/accounts/login/'>Назад</a></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}