{% extends 'mainPage/mainTemple.html' %}
{%  block content %}
    <div class="out">
            <div class="in">
                <div style="margin:auto;">
                    <h2 style="display:flex; padding-bottom:40px;" align='center'><span style="margin:auto">На ваш email было отправлено письмо с дальнейшей инструкцией по сбросу пароля.</span></h2>
                    <div style="display:flex;"><a href="/" style="margin:auto">На главную</a></div>
                </div>
            </div>
    </div>
{% endblock %}