$headerBack-color: #273440;
$text-color: #EBEEF2;
$headerHeight: 70px;

.header,.footer{
    color: $text-color;
    background-color: $headerBack-color;
    text-align: center;
}
.header{
    height: $headerHeight;
    //position: fixed;
    width: 100%;
    
    .col-sm{
        height: $headerHeight;
        display: flex;
    }
    span{
        font-family: 'Dancing Script', cursive;
        margin: auto;
    }
    #logo{
        font-size: 27px;
    }
    .user_profile_mainPage{
        border-left: 1px solid;
        border-right: 1px solid;
        border-color: $text-color;
        display: flex;
        width: 70px;
        img{
            margin: auto;
            padding: 10px;
            width: 70px;
            border-radius: 180px;

        }
        #profileImg{
            width: 40px;
        }
    }
    a{
        margin: auto;
        text-decoration: none;
        color: $text-color;
        &:hover{
            text-decoration: none;
            //color: $text-color;
        }
        button{
            width: 100px;
        }
    }
}
.footer{
    
}