$text-color: #EBEEF2;
$back-color: #273440;

@mixin backImg($path){
    background-image: url($path);
    background-repeat: no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
}
.center{
        margin: auto;
        text-align: center;
}
.welcom{
    @include backImg('/static/mainPage/img/welcome.jpg');
    height: 850px;
    color: $text-color;
    display: flex;
}
.chooseCountry{
    background-color: $back-color;
    height: 100%;
    color: $text-color;
    .countres{
        margin: 50px;
        font-size: 18px;
        height: 330px;
        .left{
            float: left;
            width: 50%;
            height:320px;
            div{
                margin-top:10px;
            }
        }
        .right{
            float: right;
            width: 50%;
            height:320px;
            div{
                margin-top:10px;
            }
        }
        img{
            width: 100px;
            height: 70px;
            border-radius: 360px;
        }
        .dish{
            display: flex;
            span{
                margin: auto;
                width: 200px;
                height: 70px;
                .text{
                    margin-left: 5px;
                }
            }
        }
    }
}