$text-color: #EBEEF2;
$back-color: #273440;
//$back-color: #403531;

@mixin backImg($path){
    background-image: url($path);
    background-repeat: no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
}
.center{
        margin: auto;
        text-align: center;
}
.welcom{
    @include backImg('/static/mainPage/img/welcome.jpg');
    height: 850px;
    color: $text-color;
    display: flex;
}
.chooseCountry{
    background-color: $back-color;
    height: 100%;
    color: $text-color;
    .countres{
        margin: 50px;
        font-size: 18px;
        height: 330px;
        .left{
            float: left;
            width: 50%;
            height:320px;
            div{
                margin-top:10px;
                &:hover{
                    //background-color: #F2B705;
                    background-color: #3F4EA6;
                    transition: 1s;
                }
            }
        }
        .right{
            float: right;
            width: 50%;
            height:320px;
            div{
                margin-top:10px;
                &:hover{
                    
                    background-color: #3F4EA6;
                    transition: 1s;
                }
            }
        }
        img{
            width: 100px;
            height: 70px;
            border-radius: 360px;
//            &:hover{
//                transition: 1s;
//            }
        }
        .dish{
            display: flex;
            span{
                margin: auto;
                width: 250px;
                height: 70px;
                .text{
                    margin-left: 5px;
                }
            }
        }
    }
}
.popularRecipes{
    background-color: $back-color;
    height: 100%;
    color: $text-color;
    .cards{
        display: flex;
    }
    .card{
        display: inline-block;
        margin: auto;
    }
}

.easyToCook{
    background-color: $back-color;
    height: 100%;
    color: $text-color;
    padding-top: 20px;
}
.cards{
        display: flex;
}
.card{
    color: black;
    height: 450px;
    display: inline-block;
    margin: auto;
    .card-text{
        height: 50px;
    }
    footer{
        p{
            margin: 0;
            padding: 0;
        }
    }
}

.forFamily{
    background-color: $back-color;
    height: 100%;
    color: $text-color;
    padding-top: 20px;
    .cards{
        display: flex;
    }
    .card{
        display: inline-block;
        margin: auto;
    }
}